@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Bold.woff2");
    font-display: swap;
    font-weight: 700;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    background:  #313131;
    height: 70px;
}
.header__list__menu{
    display: flex;
    justify-content: space-between;
    text-align:center;
    height: 70px;
    align-items: center;
}
.header__link{
    font-family: Open Sans, serif;
    text-decoration: none;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    color: white;
}
.header__link:hover{

    color: #14B9D5;
}
.header__list{
    list-style-type: none;
}
.header__logo{
    list-style-type: none;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;

}


.header__img{
    padding-top: 3px;
    justify-content: center;
    list-style-type: none;
}
.title_container{
    background-image: url("../img/header-background.png");
    background-attachment: fixed;
    background-size: cover;
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title__text{
    display: flex;
    justify-content:  center;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.title__button{
    display: flex;
    justify-content:  center;
}
.head__button__green{
    display: inline-block;

    margin-right: 10px;
    width: 170px;
    height: 55px;
    left: 0;
    top: 0;
    border-radius: 4px;
    background: #89CA62;
}

.button__link__green{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.head__button__blue{
    width: 170px;
    height: 55px;
    left: 0;
    top: 0;
    border-radius: 4px;
    background: #14B9D5;
}
.button__link__blue{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.section_header_text{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    color: #18B4CF;

}

.section_cards_list{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.section_image_title{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    height: 50px;
    background: #FFFFFF;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 30px;


    color: #353A3D;
}
.container_section{
    background: #F2F2F2;
    width: 100%;
    margin: auto;
}
.section_card{
    padding-right: 30px;
}
.container_main{
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-size: cover;
    height: 588px;
    display: grid;



}
.main__title::after{
    content: "";
    top: 0;
    right: 48%;
    bottom: -50%;
    margin: auto;
    display: flex;
    width: 80px;
    height: 3px;
    background: #14B9D5;
    position: absolute;
}
.main__title{
    position: relative;
    padding-top: 110px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;


}
.main__list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat( 4, 250px);
}
.lead_title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;

    text-transform: uppercase;

    color: #18B4CF;

}

.lead_container{
    display: grid;
    justify-content: center;
    margin-right: 100px;
    grid-template-columns: repeat(auto-fit, minmax(271px, 0fr));

    width: 100%;
}
.main__image{
}
.lead_main{
    display: grid;
}
.content_container{

    display: grid;
    width: 1068px;
    margin: auto;


}

.content__footer {
    display: grid;
    grid-template-columns: repeat(4, 277px);
    gap: 30px 20px;


}
.content__item__one{
    grid-template-columns: 1fr 1fr;
    display: grid;

    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    grid-column-start: 1;
    grid-column-end: 4;


}
.content__item__two{
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: grid;
    height: 259px;
    grid-column-start: 4;
    grid-column-end: 5;

}
.content__item__three{
    width: 554px;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    grid-column-start: 1;
    grid-column-end: 3;
}
.content__item__four{
    width: 554px;

    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: grid;
    /*justify-items: end;*/
    grid-column-start: 3;
    grid-column-end: 5;
}
.content__item__five{
    width: 554px;

    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    grid-column-start: 1;
    grid-column-end: 3;
}
.content__item__six{
    width: 554px;

    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
}
.content__item__seven{
    display: grid;
    height: 259px;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

    grid-column-start: 1;
    grid-column-end: 2;
}
.content__item__eight{

    grid-template-columns: 1fr 1fr;
    display: grid;

    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    grid-column-start: 2;
    grid-column-end: 5;
}
.content__title__block{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;


    color: #353A3D;
}
.content__title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;

    color: #353A3D;


}
.content__text {
    margin-left: -10px;
    width: 554px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.content__text__one{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.content__text__eight{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;

}

.container_footer{
    background: black;
    height: 80px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    display: grid;
    margin-top: 70px;
}
.footer__list{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    align-items: center;
}

#back-to-top{
    background: url("/img/photo.svg");
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}
.slide-toggle{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #14B9D5;
}
